@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Jost', sans-serif;
}

/* typography, icons, img */

/* logged out view */
main > section:first-of-type h2 {
    font-weight: 800;
    font-size: 2.5rem;
}

main > section:first-of-type .logged-out-second-wrapper h3 {
    font-weight: 700;
    font-size: 1rem;
}

.twitter-logo {
    width: 50px;
}

.logged-out-second-wrapper > p {
    text-align: center;
}

.google-logo {
    width: 30px;
}

/* signing in view */
.signing-in-view-first-wrapper h3 {
    font-weight: 600;
    font-size: 1.3rem;
}

/* logged in view */

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

/* layout */

/* logged-out view */

.logged-out-second-wrapper{
    width: 70%;
}

.modal {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    position: relative;
} 

.fa-x {
    font-size: .7rem;
    position: absolute; 
    left: 21px;  
    top: 27px; 
}

.signing-in-view-first-wrapper {
    width: 60%;
    margin-block: auto;
}

.signing-in-view-first-wrapper > p {
    text-align: center;
}

/* logged in view */
.logged-in-view {
    margin: 10px 20px;
}

/* logged in view */
    /* tweet */
    .tweet-container {
        margin-top: 20px;
        display: grid;
        align-items: center;
        grid-template-columns: 50px repeat(3, 1fr);
        grid-template-areas: 
        "profile-pic data   .    ellipsis"
        ".           tweet  tweet   tweet"
        ".           icons icons icons";
    }
    
    .tweet-profile-pic {grid-area: profile-pic;}
    .tweet-user-data   {grid-area: data;}
    .fa-ellipsis       {grid-area: ellipsis;}
    .tweet-text        {grid-area: tweet;}
    .tweet-icons       {grid-area: icons;}

    .tweet-user-data {
        display: flex;
    }

    .tweet-icons {
        display: flex;
        justify-content: space-between;
    }
    
    .fa-ellipsis {
        justify-self: end;
        align-self: start;
    }

    .tweet-user-data {
        align-self: start;
    }

main {
    margin: 20px 10px;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* logged in view */
.tweet-profile-pic {
    width: 50px;
    border-radius: 50%;
}

.tweet-user-data,
.tweet-text,
.tweet-reply {
    margin-left: 10px;
}

.tweet-date-posted {
    margin-left: 3px;
    font-size: .7rem;
    align-self: center;
    color: rgba(128, 128, 128, 0.568);
}

.tweet-username,
.tweet-date-posted {
    margin-block: 0;
}



/* buttons */
main > section:first-of-type button{
    width: 100%;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid rgba(28, 28, 28, 0.612);
}

.google-btn {
    background-color: white;
    padding-block: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.sign-in-btn {
    color: #0F8CDF;
    background-color: white;
    font-weight: 600;
}

.primary-btn {
    background-color: #0F8CDF;
    color: white;
    border: none;
}
.signing-in-view-first-wrapper > button{
    width: 100%;
}

.blk-btn {
    background-color: black;
    color: white;
}

/* loggged in view */
.post-btn {
    width: 100%;
}

/* input */
input {
    /* padding: 10px 20px; */
    color: pink;
    font-size: .8rem;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgba(28, 28, 28, 0.612);
}

.signing-in-view-first-wrapper > input {
    margin-bottom: 10px;
    width: 100%;
}


textarea{
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 80px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}

/* updating account profile and name upon creation */
#update-profile-view {
    height: calc(100vh - 20px);
}
.update-profile {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.welcome-msg {
    margin-bottom: 30px;
}

.welcome-msg > h3,
.welcome-msg > p {
    margin: 0;
    text-align: center;
}

.custom-file-input {
    cursor: pointer;
    text-decoration: underline;
    font-size: .7rem;
    color: #0F8CDF;
    font-weight: bold;
  }
  
  #imageInput {
    display: none;
  }

  /* media screens */

@media (max-width: 600px) {

    /* layout */
    /* logged out view */
    main > section:first-of-type {
        margin: 10px 20px;
    }
    /* signing-in view */
}

@media (min-width: 600px) {

    .logged-out-second-wrapper > p:first-of-type {
        font-size: 1.4rem;
        margin-block: 5px;
    }

    .logged-out-second-wrapper .bold {
        font-weight: 600;
        font-size: 1.1rem;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 10px;
    }


    /* layout */

    .logged-in-view {
        position: relative;
        max-width: 700px;
        margin-inline: auto;
    }

    /* logged out view */
    main > section:first-of-type {
        margin-inline: 20em;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logged-out-second-wrapper{
        width: 65%;
    }

    /* sign-in-view */
    .modal {
        position: absolute;
        background-color: rgb(0, 0, 0);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 70vh;
        width: 40%;
        border-radius: 20px;
        color: white;
    }

    .signing-in-view-first-wrapper {
        width: 50%;
    }

    .signing-in-view-first-wrapper > input {
        font-size: 1.1rem;
        padding: 10px;
    }

    
    

    /* typography, icons, img */
    /* logged out view */
    #logged-out-view .twitter-logo {
        width: 30%;
    }

    
    main > section:first-of-type h2 {
        font-size: 5rem;
    }

    main > section:first-of-type .logged-out-second-wrapper h3 {
    font-size: 3.5rem;
    }

    .signing-in-view-first-wrapper h3 {
        font-size: 2rem;
    }
    .signing-in-view-first-wrapper p {
        font-size: 1.4rem;
    }


    /* buttons */

    button {
        padding: 18px 30px;
        border-radius: 50px;
        border: 1px solid rgba(28, 28, 28, 0.612);
        font-size: 1.2rem;
    }

    .google-btn {
        padding-block: 12.4px;
    }

    .blk-btn {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .signing-in-view-first-wrapper > button:last-of-type {
        margin-top: 10px;
    }
    
    /* input */

    .signing-in-view-first-wrapper > input {
        background-color: inherit;
        border: 2px solid rgba(255, 255, 255, 0.199);
        padding: 18px;
    }
    
}

.hidden {
    display: none !important;
}